.container {
    width: 100%;
}

.season {
    background: blue;
    width: 100%;
}

.season-tab {
    display: none;
}

#book-list {
    font-size: 85%;
}

#pub_schedule_dates {
    margin-left: 25px;
}

nav a {
    display: block;
}